        header {
            grid-area: header;
            background-color: green;
        }

        nav {
            grid-area: nav;
            background-color: blue;
        }

        main {
            grid-area: main;
            background-color: pink;
        }

        aside {
            grid-area: aside;
            background-color: coral;
        }

        footer {
            grid-area: footer;
            background-color: whitesmoke;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav footer footer footer footer';
            grid-gap: .5em;
           
        }


        ul li {
            list-style-type: none;
        }


        /*FIRST BREAK POINT === desktop */
        @media only screen and (max-width : 1000px) {
            body {
                background: blueviolet;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }
        
        /*SECOND BREAK POINT === tablet */
        @media only screen and (max-width : 480px) {
            body {
                background: teal;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        /*THIRD BREAK POINT === mobile */
        @media only screen and (max-width : 320px) {

            body {
                background: rgb(0, 255, 89);
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }